* {
    font-family :Arial, Helvetica, sans-serif;
    color : #fdf7ff;
}

body {
    margin : 0;
    background-color: #3d1372;
}

input {
    background-color : #ecbeff;
    color : #67429c;
    font-size : 0.9rem;
    height : 1rem;
    display : table-cell;
}

textarea {
    background-color : #ecbeff;
    color : #67429c;
    font-size : 0.9rem;
    display : table-cell
}

label {
    display : table-cell;
}

form {
    margin : auto;
    width : max-content;
    background-color: #67429c;
    border-radius : 10px;
    padding : 10px;
}

h1 {
    margin : 15px auto;
    width : max-content;
}

nav {
    background-color : #67429c;
    display : flex;
    justify-content: space-around;
    width : 40%;
    border-radius : 10px;
    margin : 10px auto;
    padding : 5px;
}

a {
    text-decoration : none;
}

.nav-b {
    display : block;
    padding : 5px;
    background-color : #9269c7;
    border-radius : 5px;
}

.table > div {
    margin-bottom : 10px;
    display : table-row;
}

.form-b {
    border-radius : 0;
    border-color: #fdf7ff;
    background-color : #9269c7;
    font-size : 1rem;
    display : block;
    margin : 10px auto;
    padding : 10px;
}

.table {
    display : table;
    border-spacing : 10px;
}

.error {
    background-color : #779c42;
    border-radius : 10px;
    width : 100%;
    text-align : center;
    padding-top : 10px;
    padding-bottom : 10px;
}

.post {
    background-color : #67429c;
    padding : 10px;
    margin : 15px auto;
    width : 40%;
    border-radius : 10px;
}

.title {
    text-align : center;
    font-size : 1.2rem;
    font-weight: bold;;
}

.date, .user {
    font-size : 0.8rem;
    font-weight : lighter
}